/* .profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orgInfo {
    width: 50%;
}

.title {
    font-family: Georgia, serif;
    text-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
  } */